[2022-04-23 15:49] anubha-v-ardhan opened #1 "Add README for website"
Edit the README and include details on the following (and more if needed)
- What is this project
- How is this project built (This project will be built using Static site generator [Docusaurus](https://docusaurus.io/))
- Steps to setup and run the project locally
- How to contribute (Link to CONTRIBUTING.md)
- Code of Conduct (Link to code-of-conduct.md)

Feel free to suggest any additions to abov

[2022-04-23 15:53] anubha-v-ardhan opened #2 "Add Contributing guide for website"
CONTRIBUTING.md is a file which tells folks all they need to know to contribute to an project

Create the file for this repo, with step by step process for contributing to various domains (notes, website), link to guidelines if required (for example guildelines for wriitng notes), use screenshots if needed.

[2022-04-23 15:54] anubha-v-ardhan opened #3 "Add code of conduct for website"
Every open source project should have a code of coduct that establishes expectation of behaviour from contributors and everyone participating on the project.

KubeSimplify uses [CNCF code of conduct](https://github.com/cncf/foundation/blob/main/code-of-conduct.md)

Add a file `code-of-conduct.md` stating above and linking to CNCF's code of conduct

[2022-04-23 17:57] Nawaz027 commented on #3
I want to work on the issue. Please assign this to me.

[2022-04-23 17:57] Nawaz027 commented on #3
/assign

[2022-04-23 18:00] anubha-v-ardhan commented on #3
@Nawaz027 I don't have requiered privileges to assign issues yet but your comment should be enough. You can start working and open a PR.
Thank you for contributing :)

[2022-04-23 18:02] Nawaz027 commented on #3
sure, thank you.

[2022-04-24 09:16] abh139 commented on #1
I want to do this

[2022-04-24 09:17] anubha-v-ardhan commented on #1
Go ahead!

[2022-04-24 14:01] Arnav-Barman opened #4 "Create an Interactive Mindmap"
We need an interactive mindmap that satisfies the following conditions:
- It must be based upon [DevOps Roadmap](https://youtu.be/7l_n97Mt0ko)
- It must have links embedded into it for redirection to the blogs/notes. (A provision must be there so that it can be updated easily in the future)
- It must follow the design theme of Kubesimpify
- It must update in realtime when embedded onto the website

[2022-04-25 14:17] verma-kunal opened #5 "[Add] Initial website setup + hosting on Gh Pages"
Setting up the initial [Docusaurus](https://docusaurus.io/) website on the repo & hosting it on Gh pages

[2022-04-25 14:56] abh139 opened #6 "Add issue template(s)"
If there would be an Issue and PR template that can really help maintainers in order to review the changes.

[2022-04-25 15:50] SuperAayush opened #7 "feat: add homepage(main) for the website"
Creating a landing page for the Kubesimplify website.

[2022-04-25 16:05] anubha-v-ardhan commented on #7
@SuperAayush Please provide description with details on what you want to add. (most of the times, it's not good practice to leave the desciption blank on issues and PRs)

Please wait for intitial website setup #5 to add homepage (or other pages)

[2022-04-25 16:53] anubha-v-ardhan opened #8 "[GitHub management] Add workflow to automatically label new issues as `triage/awaiting`"
We are using the "triage" way to manage issues and decide which ones to work on.
- `triage/awaiting`: Maintainers are evaluating the issue to decide if we want to work on it or not
- `triage/accepted`: Issue is accepted and folks can work on it.

The idea is to automatically add `triage/awaiting` label on every new issue created. Maintainer will replace `triage/awaiting` with `triage/accepted` if

[2022-04-25 18:51] anubha-v-ardhan commented on #6
We can have two separate issue templates
- for core website work
- for DevOps Roadmap notes work

[2022-04-26 03:51] abh139 commented on #6
Okay

[2022-04-26 23:09] anubha-v-ardhan opened #14 "Add PR template(s)"
We need a PR template to guide folks for all they need to mention while making a PR.

[2022-04-27 01:25] anubha-v-ardhan opened #15 "[GitHub management] Setup preview for PRs using Netlify"
It can quickly get difficult for maintainers to setup website each time an preview every PR.

I recommend we use [Netlify](https://www.netlify.com/) to generate preview for every PR on the repo so we can easily review the changes on running website.

[2022-04-27 01:25] anubha-v-ardhan commented on #15
cc @saiyam1814

[2022-04-27 01:25] anubha-v-ardhan commented on #15
cc @saiyam1814

[2022-04-27 02:56] abh139 commented on #14
Pls assign this to me

[2022-04-27 03:00] SuperAayush commented on #14
I think @abh139 you already had this covered in the issue #6 description.

[2022-04-27 03:01] abh139 commented on #14
No that is just for Issue template, for PR we need to create another issue for easy reviewing

[2022-04-27 16:12] #3 closed

[2022-04-27 16:42] bhavyastar opened #17 "feat: add about page for the website"
Add an About page where the main purpose of kubesimplify will be there.
There are different sections like:
1. Details about the founder.
2. Details about the team members.
3. Subscribe to newsletter
4.  Amazing footer.

[2022-04-27 16:50] anubha-v-ardhan commented on #17
Please wait for triage being accepted before making a PR resolving this issue.
The base website needs to be setup first (see #5)

[2022-04-27 17:41] bhavyastar commented on #17
I would like to work on this issue. Please assign this issue to me.

[2022-04-28 13:21] mayankkuamr001 opened #19 "feat: create kubesimplify ambassador page for the website"
- I want to create the kubesimplify ambassador page for the website
- I was assigned this during the meeting on discord about the website.

[2022-04-28 17:38] #5 closed

[2022-04-28 17:52] verma-kunal opened #20 "[Add] Guide for setting up the wesbite locally"
A proper guide on setting up the wesbite locally on a system (added to the README) would help other folks in the community to contribute

[2022-04-28 17:52] verma-kunal commented on #20
Would be working on this one! 🙂

[2022-04-28 23:43] Arnav-Barman commented on #4
I have the basic structure of the roadmap ready [here](https://go.gliffy.com/go/share/image/shttnqhd9ylwxeasmhth.png?utm_medium=live-embed&utm_source=custom).
I will edit the design to match the website when the positioning of the roadmap and the color scheme is finalized.
Any feedback on the contents of the roadmap will be highly appreciated; otherwise, it is final from my side.

[2022-04-29 04:46] anubha-v-ardhan commented on #20
This issue is already covered #1. We can use that issue as this will go on the README as well. Can I close this issue?

You and @abh139 can collaborate on #1 to design a README for this repo.

[2022-04-29 10:43] anubha-v-ardhan opened #21 "Wrong redirect for Discord, Twitter and GitHub"
Discord, Twitter and GitHub links are set to default for Docusaurus.
We need to change them to KubeSimplify ones. Also, we don't need Stack Overflow, we can edit it for our LinkedIn instead.

[2022-04-30 05:06] verma-kunal commented on #20
Sure, sounds good!

[2022-04-30 05:09] verma-kunal commented on #1
Will be working on "Steps to setup and run the project locally"

[2022-04-30 07:13] #20 closed

[2022-04-30 08:40] hamees-sayed commented on #21
I got it

[2022-04-30 13:02] #21 closed

[2022-04-30 13:10] anubha-v-ardhan opened #24 "Wrong redirect for GitHub in navbar"
The GitHub link in navbar (top right), redirects to default Docusaurus GitHub. We need to change it to KubeSimplify's.

[2022-04-30 13:36] lavakush07 commented on #24
Hey Anubhav, I want to take this issue. Can u assign me

[2022-04-30 13:38] anubha-v-ardhan commented on #24
Thank you @lavakush07

[2022-04-30 14:08] Shivansh-yadav13 commented on #24
@lavakush07 @anubha-v-ardhan I think we should also point the Blog link in the footer to the Hashnode page.

[2022-04-30 17:39] lavakush07 opened #25 "feat: create kubesimplify Contributors page"
Add a contributors  page
There are different sections like:

1) Link to Hashnode to publish a blog .
2) Details about the team members.
3) Amazing footer.

[2022-05-01 02:47] Shivansh-yadav13 commented on #25
@lavakush07 can I try working on this, and isn't someone already working on the footer?

[2022-05-01 05:51] AvineshTripathi commented on #25
Hey @lavakush07 can you elaborate this more by adding screenshot and other details

p.s. i believe Ayush is working on footer so maybe that point can be avoided

[2022-05-01 06:00] lavakush07 commented on #25
![Screenshot 2022-05-01 112945](https://user-images.githubusercontent.com/70131581/166134248-a38f66ed-2bc7-44ce-aa4c-00ee35be8312.png)

[2022-05-04 05:32] AvineshTripathi commented on #24
I think this issue would be solved when we get our landing page along with navbar which is work in progress

[2022-05-04 18:33] SuperAayush opened #27 "Add a nodejs workflow"
Adding a Nodejs workflow through Github actions will help in testing and building all the PR that are made to the project and also makes it easy for the reviewers to review the PRs.
<img width="1440" alt="Screenshot 2022-05-05 at 12 02 08 AM" src="https://user-images.githubusercontent.com/78820926/166802399-ebd30c3c-a149-49b8-be79-944d7833717e.png">

It checks it for the three versions of node.

[2022-05-07 09:43] AvineshTripathi commented on #14
@abh139 as soon as the PR for the issue template is merged please do a PR for PR template

[2022-05-07 09:49] abh139 commented on #14
@AvineshTripathi Sure

[2022-05-07 15:16] Shivansh-yadav13 opened #31 "Fix base URL"
- rn the url looks like `https://kubesimplify.github.io/website/`
- I think we should change the base url to `/`
- not sure if this would affect the deployment to gh pages since it was changed in #22
- https://github.com/kubesimplify/website/blob/fcab83456936aa778d3dddb814fea3367dc51d37/docusaurus.config.js#L12

[2022-05-07 15:40] anubha-v-ardhan commented on #31
Do we have any specific reason for the change, as the website will use `kubesimplify.com` when finished

[2022-05-07 20:03] anubha-v-ardhan commented on #8
Automatic `triage/awaiting` label will be achieved using issue template (#18)

[2022-05-07 20:03] #8 closed

[2022-05-07 20:54] SuperAayush opened #34 "fix: change favicon of website"
The current favicon is default of Docusaurus which should be replaced by the kubesimplify logo.

[2022-05-08 01:21] Shivansh-yadav13 commented on #31
@anubha-v-ardhan I was considering this from the docusaurus website.
But if you think it's not required then we can close this issue 🙂
![routing](https://user-images.githubusercontent.com/87603425/167277710-2cd61dfa-e22e-4896-b241-f169c6f88427.png)

[2022-05-08 06:24] shaggyyy2002 commented on #34
I think we should add the logos into one folder

[2022-05-08 10:35] bhavyastar opened #37 "feat: add navbar for website"
Navbar for the website where users can redirect to different other web pages.

[2022-05-08 10:36] bhavyastar commented on #37
I would like to work on this issue, Please assign this to me!

[2022-05-08 10:44] #24 closed

[2022-05-09 02:57] #6 closed

[2022-05-09 03:34] anubha-v-ardhan commented on #31
Are you sure this won't break the deployment?

[2022-05-10 18:03] Deepakktripathy opened #42 "Broken link titled Blogs in website"
### Description

https://kubesimplify.github.io/website/blog
the above link shows "Page Not Found"
![image](https://user-images.githubusercontent.com/79755187/167693550-7c329b12-5a34-4d2c-9a00-3a359af32892.png)

I believe we can fix the link with the following:
**https://kubesimplify.com/**

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-11 04:20] Shivansh-yadav13 commented on #31
@anubha-v-ardhan I don't think it will break the deployment, but @verma-kunal can confirm, since he changed it in #22

[2022-05-11 11:15] anubha-v-ardhan commented on #42
We're desigining a new footer for the website but sure, we can fix this for now!

[2022-05-11 11:17] anubha-v-ardhan commented on #31
Accepting triage for this, we can check the deployment when PR is made for this issue.
@Shivansh-yadav13 Do you wish to work on this?

[2022-05-12 07:50] shivam-sharma7 commented on #34
I have open a PR for this issue. Can you assign me?

[2022-05-14 06:35] #7 closed

[2022-05-14 06:49] shivam-sharma7 commented on #42
I have open a PR for this issue? can you assign me?

[2022-05-14 08:16] anubha-v-ardhan commented on #31
REF https://github.com/kubesimplify/website/pull/43#discussion_r872937563

[2022-05-14 08:16] #31 closed

[2022-05-14 12:13] AvineshTripathi opened #45 "Alignment of Homepage is not consistent"
### Description

With the new merge of the Homepage in PR #33, we can find an inconsistency in the alignment specially for a higher resolution.

An issue was seen for the following resolution:
Browser: Chrome 101.0 and Firefox 100.0
Screen resolution: 1920x1080
Screen size: 22 inch

### Screenshots

![image](https://media.discordapp.net/attachments/968171151312445470/974994030914043935/unknown.png

[2022-05-14 17:04] shivam-sharma7 commented on #45
How we can run this project localhost?

[2022-05-14 17:12] anubha-v-ardhan commented on #45
1. Clone the repository (clone your fork of the repository if you want to contribute)
2. Change directory (`cd <repo name>`) to the cloned repo on your local machine
3. Run `npm install` to start automatically install all the dependencies
4. Run `npm start` to start the local server. You should be automatically redirected to your default browser and site should open.  If not, go to `localhost:3000

[2022-05-14 17:40] shivam-sharma7 commented on #45
can you assign me?

[2022-05-14 17:41] shivam-sharma7 commented on #45
- If you want so, I can add these steps in my PR #26

[2022-05-14 18:39] #14 closed

[2022-05-16 16:45] shaggyyy2002 opened #47 "[FEATURE] Change the colour of Text"
### Description

In the homepage when writing something the text is not visible adding SS to make it more clearer.

### Screenshots

Problem:
![](https://cdn.discordapp.com/attachments/966715029326028800/975472858123886732/Screenshot_2022-05-16_at_12.29.59_AM.png)
Solution:

![](https://cdn.discordapp.com/attachments/966715029326028800/975690766611513405/unknown.png)

### Additional information

_

[2022-05-17 17:06] AnuragThePathak commented on #27
Hi can I work on this issue?

[2022-05-18 13:14] shivam-sharma7 commented on #47
can you assign me? for this issue

[2022-05-18 13:48] shaggyyy2002 commented on #47
the triage is on waiting check with @anubha-v-ardhan

[2022-05-19 14:22] shivam-sharma7 commented on #47
@anubha-v-ardhan @saiyam1814

[2022-05-22 11:40] AvineshTripathi commented on #27
Sure @AnuragThePathak  you can take this up

[2022-05-23 07:01] Jai-Solania-29 opened #49 "[Bug] <Footer Social Icons are all same and not redirecting>"
### Description

Social icons in Footer sections are all same and they are also not getting redirected anywhere.

### Screenshots

![Screenshot (65)](https://user-images.githubusercontent.com/90816300/169761906-5f665d7c-6535-4973-9433-53792d00efcb.png)

### Additional information

_No response_

[2022-05-23 07:01] Jai-Solania-29 commented on #49
I want to work on this issue, Please assign this to me.

[2022-05-23 15:38] AvineshTripathi commented on #49
@Jai-Solania-29 thank you for raising this issue, you can always start working on this

[2022-05-23 16:04] Jai-Solania-29 commented on #49
@AvineshTripathi Ok thank you

[2022-05-24 15:22] shaggyyy2002 commented on #49
Also the icons are of different colour from the one designed.
<img width="908" alt="Screenshot 2022-05-24 at 8 47 35 PM" src="https://user-images.githubusercontent.com/90847875/170072303-4d429430-e801-489d-884e-f2fa3880bb0b.png">

[2022-05-25 10:24] Jai-Solania-29 commented on #49
@shaggyyy2002 I have already started working on this issue. I'm just waiting for @anubha-v-ardhan to assign it to me, and then I'll go with PR.

[2022-05-25 11:37] AvineshTripathi commented on #49
Hey @Jai-Solania-29 you dont need to wait for getting assigned to create the PR if you are done please create one also consider changing the logos as suggested by @shaggyyy2002

p.s. shaggyyy2002 you can review the PR and suggest changes if something is missing

[2022-05-25 12:16] Jai-Solania-29 commented on #49
Hey @AvineshTripathi thank you for clearing the confusion .

[2022-05-25 13:10] #27 closed, assigned to nobody

[2022-05-25 15:25] Jai-Solania-29 commented on #49
Hey @AvineshTripathi I want to switch this conversation to Voice ! Are you on kubesimplify's discord channel ?
As I have some queries which would be easier to clear on voice.

[2022-05-25 16:45] AvineshTripathi commented on #49
You can ping me @Avinesh

[2022-05-25 17:02] anubha-v-ardhan commented on #49
Hey, we should avoid writing something with "@" on GitHub (or any platform) if you don't really mean to tag someone as it will ping other people if the username matches and give them an unnecessary notification!

[2022-05-25 17:18] shivam-sharma7 commented on #2
can you assign me?

[2022-05-25 17:26] AvineshTripathi commented on #49
Oh i missed the ` sign thanks @anubha-v-ardhan for notifying

[2022-05-25 17:32] Jai-Solania-29 commented on #49
@AvineshTripathi  Actually I wanted the Figma file so that I can give the finishing touch to the footer easily. As its really hard to find the exact font given in the screenshot provided by shaggyyy.

[2022-05-26 08:40] Avinesh commented on #49
I concur :)

[2022-05-26 08:51] AvineshTripathi commented on #49
I apologise profusely. I forgot to include the sign in the comment. I hope that wouldn't interrupt you.

[2022-05-26 10:55] Jai-Solania-29 commented on #49
@AvineshTripathi what should I do?

[2022-05-27 11:33] #37 closed

[2022-05-30 09:37] abh139 opened #52 "[FEATURE] Redirection of workshop"
### Description

Instead of redirecting the workshop section to main page itself (#), can't we just add a page with a message of "Will update soon"the

### Screenshots

![Screenshot 2022-05-30 150532](https://user-images.githubusercontent.com/76171953/170964008-73f33b8b-f5ab-441d-bba7-8ff4d63c0d0e.png)

### Additional information

_No response_

[2022-05-30 15:09] #47 closed

[2022-05-30 17:23] bishal7679 opened #53 "Change the Alignment of the Sponsors Button"
### Description

The alignment of the sponsors button is looking not so good. It should change the alignment of these two buttons.

### Screenshots

![Screenshot (78)](https://user-images.githubusercontent.com/70086051/171037951-6f2acae4-2ea5-49d4-9071-05c2b68c407b.png)

### Additional information

_No response_

[2022-05-30 17:25] bishal7679 commented on #53
Please assign me to fix this.

[2022-05-30 17:31] bishal7679 commented on #53
Can I make a PR for this ?

[2022-05-31 06:09] bishal7679 opened #56 "[FEATURE] changing the style of Start learning button"
### Description

Please check the video. Can I add this style to this button. Then I will make a PR.

### Screenshots

https://user-images.githubusercontent.com/70086051/171104016-7d320def-f90b-4b6d-a227-548f3f70a594.mp4

### Additional information

_No response_

[2022-05-31 08:15] AvineshTripathi commented on #42
This issue is solved please close this

[2022-05-31 10:58] kranurag7 opened #58 "[FEATURE] Add CONTRIBUTING.md file"
### Description

- Add the contributing.md file explaining how to clone the repo and get started with contributing.
- What are the requirements one should have before cloning the repo?
- Mention how to propose a feature request?
- How to create a pull request?

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-31 11:03] Santosh1176 commented on #58
Can I work on this?

[2022-05-31 11:08] kranurag7 commented on #58
Sure @Santosh1176 You can start working on this.

[2022-05-31 12:13] mayankkuamr001 opened #59 "[Bug] Toggle theme button is missing."
### Description

1. Button to switch from light mode to dark mode and vice versa is missing.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-01 04:58] AvineshTripathi commented on #59
I would suggest looking at the documentation of Docusaurus and seeing if we can override the built-in functionality.

[2022-06-01 07:56] Santosh1176 commented on #49
There is also a minor issue in footer. In copyright section, it's still showing 'my website, inc'. This should be changed to 'Kubesimplify'.

[2022-06-01 11:24] mayankkuamr001 opened #63 "[FEATURE] Create remaining part of the ambassador page"
### Description

The following components need to be created.
-  application component
- FAQs

### Screenshots

![image](https://user-images.githubusercontent.com/66107976/171393243-c4190207-6e55-4d12-a2fe-e96fc50c8ff2.png)

![image](https://user-images.githubusercontent.com/66107976/171393264-d2ad745c-62ce-43b1-b21a-77be3eac8872.png)

[2022-06-01 11:25] mayankkuamr001 commented on #63
Please assign this issue to me as I have created the half of ambassador page.

[2022-06-02 03:59] #42 closed

[2022-06-02 19:02] NitishKumar06 commented on #58
Hey, I'd like to work on this issue.
Please let me know.

[2022-06-03 04:50] bishal7679 commented on #56
@anubha-v-ardhan I have created an issue for this.

[2022-06-03 07:38] AvineshTripathi commented on #63
You can start working on this even without getting assigned

[2022-06-03 14:49] bishal7679 commented on #56
@anubha-v-ardhan Can you merge this PR?

[2022-06-03 15:20] shivam-sharma7 opened #66 "Fix exatra spaces form left and from right of sponsor card and description part."
### Description

- Fix exatra spaces form left and from right. set right margin and padding of sponsor card and reduce left-side spaces from "Help us do more". See following image

### Screenshots

![Screenshot (128)](https://user-images.githubusercontent.com/91419219/171881826-af976829-a79b-4ca9-bbe3-470f3f103025.png)

### Additional information

- don't use margin and padding in 'px'--> it will

[2022-06-03 17:18] bishal7679 opened #67 "[FEATURE] Add Some Padding in Newsletter Button in Nav bar"
### Description

Left and right padding have to be added because the newsletter button not looking so cool for that and also cursor to be changed.

### Screenshots

![Screenshot (101)](https://user-images.githubusercontent.com/70086051/171913953-516dac03-1754-4650-8f94-b08ad33f39db.png)

![Screenshot (100)](https://user-images.githubusercontent.com/70086051/171913691-847fb51c-c56e-421b-9ca5-cc1fb4

[2022-06-04 04:01] AvineshTripathi commented on #67
I accept this issue but wait for the PR till issue gets the label `triage-accepted`. It is a good practice

[2022-06-04 04:03] AvineshTripathi commented on #66
We already have a PR for the same https://github.com/kubesimplify/website/pull/51. Please give your input regarding the changes there

/close

[2022-06-04 04:03] bishal7679 commented on #67
@AvineshTripathi ok no problem

[2022-06-04 04:31] bishal7679 commented on #67
@anubha-v-ardhan I have made a PR on this. Can you merge this?

[2022-06-04 04:54] anubha-v-ardhan opened #69 "[CLEANUP] Delete unused default Docusaurus images"
### What would you like to share?

We don't need the default Docusaurus images present in [static/img/](https://github.com/kubesimplify/website/tree/main/static/img). It would be better if we delete them to clean things up.

The images we aren't using are:

- [docusaurus.png](https://github.com/kubesimplify/website/blob/main/static/img/docusaurus.png)
- [logo.svg](https://github.com/kubesimplify/w

[2022-06-04 06:56] code-hyker commented on #69
Should the above mentioned images be deleted?

[2022-06-04 15:02] bishal7679 opened #73 "[FEATURE] Fixing About tab margin in navbar and adding cursor to all"
### Description

Want to fix the margin of About tab in navbar and adding cursor to all tab in navigation bar

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-04 15:43] bishal7679 commented on #67
/close

[2022-06-04 15:54] bishal7679 commented on #67
This issue is fixed by PR #74 . So I have closed the PR #68
@anubha-v-ardhan @AvineshTripathi

[2022-06-04 16:42] bishal7679 opened #75 "[FEATURE] Add hover effect on the buttons of navigation bar"
### Description

Hover effect will be added on the all nav bar buttons.

### Screenshots

https://user-images.githubusercontent.com/70086051/172016865-d67ea86a-0c64-4fae-86c4-1c4c988fdd52.mp4

### Additional information

_No response_

[2022-06-04 16:47] bishal7679 commented on #75
@samjn08 What's your suggestion.
Can I add this hover effect on the nav bar buttons?

[2022-06-05 01:49] shivam-sharma7 commented on #66
I am also talking about blog card and video content. They both have not right at right place. if we see below these cards there are more spaces between bottom items and top items.

![Screenshot (129)](https://user-images.githubusercontent.com/91419219/172031404-8d9783a0-3e95-41c8-a7fd-85f4a2b81025.png)

[2022-06-05 02:22] AvineshTripathi commented on #66
Okay i ll take this then, I believe the description didn't say the same so i asked to close

Triage-accepted

[2022-06-05 05:19] shivam-sharma7 commented on #66
okay @AvineshTripathi

[2022-06-07 05:11] Shivansh-yadav13 commented on #59
@mayankkuamr001 @AvineshTripathi I found that we can change the attr value in html tag `data-theme` to `dark` or `light` eg we can make a func and do `setAttribute("data-theme", "dark")`

[2022-06-08 05:01] Nawaz027 commented on #75
Hey folks, if no one is working on the issue, can I grab it?

[2022-06-08 05:12] bishal7679 commented on #75
@Nawaz027 Thanks for showing interest
Actually I am waiting for @samjn08 his opinion then only I can make PR for this.

[2022-06-08 17:39] verma-kunal commented on #66
Hey @shivam-sharma7 , in the future PRs, pls try to use short & accurate names for the PRs!
That would actually help a lot in the review process & the merging can take place soon

Hope you understand :)

[2022-06-08 17:41] verma-kunal commented on #66
Can you pls make the necessary changes to the title here!
What exactly is this issue targeting?

[2022-06-08 20:54] AvineshTripathi opened #78 "[Bug] Components are not functional on the HomePage"
### Description

- The `Subscribe` button and the `Email Address` text field is not functional
- For both the cards below i.e. the `Blog content` and `Youtube content` the button is functional but there is no button effect/animation on clicking

### Screenshots

![2022-06-09_02-23](https://user-images.githubusercontent.com/73980067/172715022-37714a36-a308-423c-af41-f38e83a99e11.png)
![2022-06-09_0

[2022-06-09 13:05] bishal7679 commented on #78
/good-first-issue

[2022-06-10 14:10] bishal7679 commented on #75
@AvineshTripathi @anubha-v-ardhan
Can I add it?

[2022-06-11 14:45] Abhishekvrt commented on #69
If this issue is fixed then please close this PR @code-hyker

hey @anubha-v-ardhan can you tell me about the status of this pr

[2022-06-12 16:55] bishal7679 commented on #75
@AvineshTripathi @verma-kunal
Can I add this?

[2022-06-13 08:12] Utpalkant6204 commented on #69
Remaining 4 images also want to be deleted? @anubha-v-ardhan

[2022-06-13 08:17] Utpalkant6204 commented on #69
hey @anubha-v-ardhan , remaining 4 images also wanted to be deleted? If yes, I would like to work on it.

[2022-06-13 08:28] code-hyker commented on #69
@Utpalkant6204 we are already working on it

[2022-06-13 16:10] Abhishekvrt commented on #78
/assign

[2022-06-16 05:28] AvineshTripathi commented on #78
You can work on this without `assign`

[2022-06-16 10:04] verma-kunal opened #84 "[FEATURE] Workflow for Auto-assigning a reviewer to a PR"
### Description

A gh actions workflow for auto-assinging a set reviewer to a PR will increase the efficiency of work & make the process of reviewing fast!

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-16 10:04] verma-kunal commented on #84
Creating a PR for this one

[2022-06-16 10:07] #84 closed

[2022-06-16 15:55] AvineshTripathi commented on #75
I was too waiting for JJ's opinion, LGTM

[2022-06-16 15:57] bishal7679 commented on #75
@AvineshTripathi okay. Can I start working then?

[2022-06-20 17:55] Vrashabh-Sontakke opened #89 "[LINUX_Notes] New directory for Linux Notes under docs section"
### Description

Create new directories for the documentation of LINUX_Notes

[2022-06-20 18:17] Vrashabh-Sontakke commented on #89
Created this issue with reference to PR #88.

[2022-06-20 18:26] Vrashabh-Sontakke commented on #89
@bishal7679

[2022-06-21 06:37] #89 closed

[2022-06-21 07:22] AvineshTripathi commented on #17
@bhavyastar any updates?

[2022-06-21 07:47] dipankardas011 opened #93 "Addition of DockerFile"
### Description

Wanted to add the docker file so that in future if we want to deploy anywhere we can easily do so

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-21 07:50] code-hyker commented on #69
Approve the pull requests to make updates ! They have been pending for a long time.

[2022-06-21 07:53] bishal7679 commented on #69
@code-hyker please make all changes in one PR.

[2022-06-21 07:53] code-hyker commented on #69
So should I close all of them now?

[2022-06-21 07:54] bishal7679 commented on #69
Yeap!

[2022-06-21 08:17] bishal7679 commented on #69
@AvineshTripathi now you can merge these two PR.

[2022-06-21 08:28] Vrashabh-Sontakke opened #96 "[FEATURE] file structure for the documentation of linux notes"
### Description

Create a file structure for the documentation of linux notes
Example : /docs/linux/sub-topic/markdown.md

[2022-06-21 11:09] lavakush07 commented on #25
@Shivansh-yadav13 is  working upon this.

[2022-06-21 12:02] AvineshTripathi commented on #93
I would keep this on hold, till we are near to the end of development of the website
cc @verma-kunal @anubha-v-ardhan thoughts

[2022-06-21 12:04] dipankardas011 commented on #93
#98

[2022-06-21 13:06] Shivansh-yadav13 commented on #25
@AvineshTripathi from where are we getting the list of contributors? Not sure of that, that's why I have not made a PR.

[2022-06-22 12:52] bhavyastar opened #100 "[FEATURE] <Contact Page of the Website>"
### Description

1. Add a contact page.
2. Form
3. Submit Button.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-22 14:57] AvineshTripathi commented on #100
/triage-accepted

[2022-06-23 04:57] shivam-sharma7 opened #101 "[FEATURE] <Remove underline when user hover on About button>"
### Description

- Remove underline when user hover on About button. it's not good to see.

### Screenshots

![Screenshot (132)_LI](https://user-images.githubusercontent.com/91419219/175214233-cb274617-c571-4487-afbb-66eb3358d3ed.jpg)

### Additional information

using this css property we can remove it.
- text-decoration: none;

[2022-06-23 07:35] #49 closed

[2022-06-23 13:40] Jai-Solania-29 opened #102 "Footer is not Responsive"
### Description

Footer looks perfect only on the default desktop view, but if we change the dimension of the website then the footer is getting disbalanced.

### Screenshots

![image](https://user-images.githubusercontent.com/90816300/175312476-820e62a6-e76f-421b-90ce-3e4c8bf629cd.png)

### Additional information

_No response_

[2022-06-23 13:43] Jai-Solania-29 commented on #101
Hey I want to work upon this issue. 😃

[2022-06-23 17:21] AvineshTripathi commented on #102
Must be because of new merge https://github.com/kubesimplify/website/pull/51

[2022-06-23 17:32] AvineshTripathi opened #103 "[FEATURE] Add remaining part of homepage"
### Description

## some pointers
- We have the code ready but that is not combined with website repo
- It uses bootstrap which we are currently not using so if bootstrap makes the entire website smooth throughout then please do use that all across homepage

## steps to perform
- copy paste the provide html and css in the https://github.com/kubesimplify/website/blob/main/src/components/HomepageFea

[2022-06-26 17:00] verma-kunal commented on #103
/assign @bhavyastar

[2022-06-26 17:01] verma-kunal commented on #103
Assigning @bhavyastar to work on this!

[2022-06-26 17:10] bhavyastar commented on #103
Yes, Happy to work on that!

[2022-07-01 08:38] AvineshTripathi opened #105 "[Bug] Making pages responsive"
### Description

Currently the pages are not properly responsive to different screen sizes and devices
The aim of the issue is to research and implement uniform responsiveness through out the website

### Screenshots

_No response_

### Additional information

Possible solution to this would be using some libraries like `react-responsive` or `@media` css
P.S. your suggestions are always welcome

[2022-07-01 08:38] AvineshTripathi commented on #105
/assign to me

[2022-07-01 23:09] Hat52 commented on #101
Anyone working on this or can I work ont it?

[2022-07-02 18:15] bhavyastar commented on #102
You can start working on this. If you need any help then please feel free to ask.😀
@Jai-Solania-29

[2022-07-02 18:18] bhavyastar commented on #101
Hey @Jai-Solania-29 and @Hat52, someone has already made PR for this issue. Thanks for asking! You both can work on other issues. :)

[2022-07-02 18:18] #101 closed

[2022-07-03 08:00] Jai-Solania-29 commented on #102
Thank you @bhavyastar 😃

[2022-07-03 16:54] Brijrajsinh01 commented on #105
I will be working on it.

[2022-07-05 15:30] bishal7679 opened #109 "Add Workshop site link in the navbar"
### Description

Adding Workshop site link at the navbar [Community - Workshops] dropdown menu

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-05 15:31] bishal7679 commented on #109
/good-first-issue

[2022-07-05 15:32] #109 closed

[2022-07-05 18:25] OmAximani0 opened #110 "[FEATURE] Link "Workshops" navigation"
### Description

Since [Kubesimplify Live Workshops](https://kubesimplify.github.io/live-workshops/) has announced we can link that to "Workshops" in Navbar

### Screenshots

![image](https://user-images.githubusercontent.com/75031769/177391639-107b3e6e-e77e-4fcd-b327-ad0c1e6e484a.png)

### Additional information

_No response_

[2022-07-06 12:45] shivam-sharma7 commented on #110
can you assign me?

[2022-07-07 16:43] SugamKuber opened #112 "Bug in Newsletter"
### Description

1. The Email address is not centred
2.  The button is not aligned with the  email Text box
3. The Cursor pointer events doesn't work

I can slove those if you give the issue to me

### Screenshots

![image](https://user-images.githubusercontent.com/86460476/177826189-a53d3e63-cdab-4ac5-8521-d585f693e40e.png)

### Additional information

_No response_

[2022-07-07 19:51] bhavyastar opened #114 "[FEATURE] <Add customize 404-page>"
### Description

- Add customize 404 page
- If by mistake the user redirects to the wrong page, then a customized webpage with a 404 status code will be shown.

### Screenshots

![image](https://user-images.githubusercontent.com/84725791/177860046-5b3eb4a7-5320-4c6b-b282-a345f1152e2a.png)

### Additional information

_No response_

[2022-07-07 19:58] bhavyastar commented on #25
We don't need the contributors' pictures now @Shivansh-yadav13, you can make a pull request without pictures only.

[2022-07-08 03:52] AvineshTripathi commented on #114
@bhavyastar can you work on homepage remaining part as suggested in the comments there and I can take this and get done today

[2022-07-08 03:54] AvineshTripathi commented on #96
@Vrashabh-Sontakke please don't raise PR until a reviewer or maintainer tells if they are moving ahead with this issue

[2022-07-08 11:24] bhavyastar commented on #114
The PR is already done for the Homepage.

[2022-07-08 11:33] bhavyastar commented on #102
Hey @Jai-Solania-29 , If you need any help, feel free to tag me in the KubeSimplify discord, I would be happy to help!

[2022-07-08 17:49] Vrashabh-Sontakke commented on #96
@AvineshTripathi Actually, there was no triage/awaiting tag before and I was told to just create an issue before making PRs.

[2022-07-09 03:08] #110 closed

[2022-07-09 04:02] Jai-Solania-29 commented on #102
Ok sure @bhavyastar 😃

[2022-07-09 05:27] bhavyastar commented on #112
You can start working on this!

[2022-07-10 08:17] AvineshTripathi commented on #112
Change the alignment once I integrate the newsletter with it

[2022-07-10 13:00] mayankkuamr001 commented on #105
Assign this to me as well

[2022-07-14 05:10] #63 closed

[2022-07-14 06:05] #17 closed

[2022-07-14 08:59] AvineshTripathi opened #117 "[FEATURE] Remove buy me a coffee"
### Description

We do not need `Buy me a coffee` button in the footer so the task would be to remove the button, remove the `or` above the button and align the `sponsor` button accordingly

### Screenshots

![2022-07-14_14-25](https://user-images.githubusercontent.com/73980067/178945010-3242fa96-85e3-4ea0-a8e0-e47ed486faaa.png)

### Additional information

_No response_

[2022-07-14 11:40] #103 closed

[2022-07-14 12:59] mayankkuamr001 opened #118 "[Bug] Buttons in Navbar have different font weight"
### Description

The 'community' and 'learn' buttons have less font-weight compared to others

### Screenshots

![image](https://user-images.githubusercontent.com/66107976/178987584-de9b0eb1-b705-4608-8330-db55b4ff69ff.png)

### Additional information

_No response_

[2022-07-15 06:03] MJCoder15 commented on #117
I think this issue is fixed i saw on website there is no "buy me a coffee" BUTTON so i think maintainers should remove this issue from issue list

[2022-07-16 06:38] SaarthakMaini commented on #118
I would like to work on this issue, can it be assigned to me? Thank you

[2022-07-17 14:56] shivam-sharma7 commented on #117
can i work on this issue?

[2022-07-17 18:14] bishal7679 commented on #118
/assign @SaarthakMaini

[2022-07-18 13:15] cnu1812 opened #123 "[Bug] In Nav Bar"
### Description

The contact and newsletter button is not working on the nav bar.

### Screenshots

![Screenshot 2022-07-18 184326](https://user-images.githubusercontent.com/75531528/179519265-6f8c8bab-8b4d-4fdc-b04d-5924a142e090.png)

### Additional information

_No response_

[2022-07-18 15:26] shivam-sharma7 opened #124 "[Bug] <Set the margin from left and right of both cards >"
### Description

- We can see extra space from both side and it's not look perfect, So reduce the extra spaces from top,right and left.You can see highlighted area following image.

### Screenshots

![Screenshot (137)](https://user-images.githubusercontent.com/91419219/179545293-2c3bea85-4fc0-4054-a546-9ec71f470267.jpg)

### Additional information

_No response_

[2022-07-19 00:36] danishansari22 commented on #124
Hey i can solve this problem can i do it?

[2022-07-19 18:34] #105 closed

[2022-07-20 04:54] KrishAryan opened #126 "[FEATURE] Improve Kubesimplify readme by adding logos and other links."
### Description

Improve Kubesimplify readme by adding logos and other links.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-20 04:55] KrishAryan commented on #126
I will work on this

[2022-07-20 07:21] #100 closed

[2022-07-20 13:56] Jai-Solania-29 commented on #102
Yes, @bhavyastar I'm still working on this, and I'll push my changes in a few days.

[2022-07-22 01:50] #124 closed

[2022-07-22 18:09] chirag0002 commented on #123
I want to work on this issue, would you assign me?

cc: @AvineshTripathi @bhavyastar

[2022-07-23 12:29] rakshitgondwal opened #129 "[Bug] Apply Now button not working."
### Description

Apply button in the Kubesimplify Ambassador is not working.

### Screenshots

![Screenshot (172)](https://user-images.githubusercontent.com/98955085/180604934-ee06a92f-73fe-4f3c-8160-9ffed7326437.png)

### Additional information

_No response_

[2022-07-24 04:14] bishal7679 commented on #129
@rakshitgondwal It is not linked yet with the ambassador form. Thats why it is not redirecting. This is not an issue for now

[2022-07-27 07:05] AvineshTripathi commented on #123
Hey @chirag0002 sorry to keep you waiting, the problem is that we are not keeping the contact button and it should be removed. Instead you can start working on `navbar` responsiveness if that interest you

[2022-07-27 08:19] #75 closed

[2022-07-27 08:45] Shivansh-yadav13 commented on #25
@bhavyastar I'm sorry for not updating, I won't be able to work rn.

[2022-07-27 13:40] rakshitgondwal commented on #129
@bishal7679 should I close this issue then?

[2022-07-28 13:07] chirag0002 commented on #123
Yeah @AvineshTripathi, it suits me fine. So, do I have to create another issue for the navbar's responsiveness or to continue on this issue with responsiveness?

[2022-07-28 13:20] bhavyastar commented on #123
You can continue your work on this issue itself.

On Thu, Jul 28, 2022 at 6:38 PM Chirag Varshney ***@***.***>
wrote:

[2022-07-28 13:22] chirag0002 commented on #123
Ohk @bhavyastar, please do assign me this issue.

[2022-07-28 15:26] bishal7679 opened #135 "[FEATURE] Footer section needs some space from top"
### Description

## Problem to be solved

Footer section looks like collapsed with kubesimplify ambassador div.

![Screenshot (233)](https://user-images.githubusercontent.com/70086051/181576166-52080c8b-7017-40fd-b3b6-188f43ac632b.png)

## Proposed solution

It would be nice if we add some space from ambassador div section

![Screenshot (232)](https://user-images.githubusercontent.com/70086051/181

[2022-07-28 17:15] bhavyastar commented on #123
Assigned, You can start working on this. @chirag0002

[2022-07-29 05:11] AvineshTripathi opened #136 "[FEATURE] Tracking the release"
### Description

We are about to release the website in coming few days and still there are some things that is still left to implement
I am taking up the task to prepare the repo for the release, however there is always scope of improvement but this issue is to track the release

Task to be performed

- [ ] responsiveness for `navbar`, `footer` etc
- [ ] adding links to buttons present in the web

[2022-07-29 05:44] bishal7679 commented on #136
@AvineshTripathi I wanna work with you
How may I help?
I am taking "adding links to buttons present in the website" this one
Could you provide all the links which I have to link like `learn more` button and etc.

[2022-07-29 05:47] AvineshTripathi commented on #136
Please firstly search for buttons or text with href or anything through out the website repo and check what all are missing prepare a doc to missing links and then I'll send all those at one time(asking for individual would make things difficult ). Is that ok?

[2022-07-29 05:52] bishal7679 commented on #136
Yes It will be better.
I am preparing a doc for all the missing links from the website
Then I will inform you as soon as possible 👍

[2022-07-29 06:09] bishal7679 opened #137 "[FEATURE] Need some space between `Founder` and `footer` section"
### Description

## Problem to be solved

In the about page, there needs some space between `Founder` and `footer` section

### Screenshots

![Screenshot (234)](https://user-images.githubusercontent.com/70086051/181693915-5abd4bd3-c895-462d-acfc-db2e68f11a7a.png)

### Additional information

_No response_

[2022-07-29 06:46] bishal7679 commented on #136
@AvineshTripathi please check out this doc
I mentioned all the missing links here
https://github.com/bishal7679/Missing_Link/blob/main/missing_links.md

[2022-07-29 14:01] abhinav2712 commented on #135
I would love to work on this issue, assign me with this task, thank you

[2022-07-29 14:11] abhinav2712 commented on #137
assign it to me, i would love to work on this issue, thank you

[2022-07-29 14:15] abhinav2712 opened #138 "[FEATURE] The spacing of "email address" and icon size"
### Description

In this container, the  spacing of "email address" and the size of mail icon doesn't seem accurate and kind of ruins the whole experience since its widely visible.
I can work on this issue and try to find even better icon for it, please assign this to me

### Screenshots

<img width="898" alt="image" src="https://user-images.githubusercontent.com/68495520/181779161-048ac339-4093-4

[2022-07-30 14:55] bishal7679 commented on #137
@AvineshTripathi Can you have a look on that issue?

[2022-07-31 15:13] shivam-sharma7 opened #142 "[Bug] <Set the margin of ambassador images>"
### Description

Set the margin of between ambassador images and footer.
Problem Reference: See following images.

### Screenshots

![Screenshot (138)](https://user-images.githubusercontent.com/91419219/182032848-29354855-204b-421a-803b-daaac2aca6f8.png)

### Additional information

- Solutions: use CSS margin propertie like margin-bottom: ;

[2022-08-01 06:33] #142 closed

[2022-08-01 06:34] shivam-sharma7 commented on #142
done

[2022-08-01 12:47] #136 closed

[2022-08-02 14:25] Shivansh-yadav13 commented on #25
@bhavyastar I'm working on it and i'll make the pr.

[2022-08-03 07:35] bishal7679 commented on #129
@rakshitgondwal This issue is resolved now

[2022-08-03 09:30] Brijrajsinh01 opened #151 "[FEATURE] The font size of navbar content."
### Description

Here at navbar the size of texts are not consistent i.e. the font size of about is greater then learn and community. Which seems quite unsymmetrical.
I can work on it and make it better if assigned to me.

### Screenshots

![image](https://user-images.githubusercontent.com/89502887/182574978-f91a61b7-7e67-483b-9ca4-481af8141bf6.png)

### Additional information

_No response_

[2022-08-03 09:33] rakshitgondwal commented on #129
alright

[2022-08-03 09:33] #129 closed

[2022-08-03 09:37] Brijrajsinh01 opened #152 "[FEATURE] Sponsor button symmetry."
### Description

The sponsor button area at the footer is quite unaligned the text and the button do not have proper space within the box. And also the $logo which is at the left can be made look more appealing within the button.
I can work on it if issue assigned to me.

### Screenshots

![image](https://user-images.githubusercontent.com/89502887/182576624-b97843fc-1a4e-45d3-9df6-58c4894e3733.png

[2022-08-04 05:16] bishal7679 commented on #152
@Brijrajsinh01 You can start working with it

[2022-08-04 08:58] AvineshTripathi commented on #152
Please fix all the button alignment/css present in the homepage

[2022-08-04 08:59] AvineshTripathi commented on #135
I think we don't need this issue @bishal7679

If you have something to say you can reopen

[2022-08-04 08:59] #135 closed

[2022-08-04 09:00] AvineshTripathi commented on #138
Are you willing to work @abhinav2712?

[2022-08-04 09:29] abhinav2712 commented on #138
Yes, i would like to work on this, please assign it to me

[2022-08-04 09:54] shivam-sharma7 opened #153 "[Bug] <Set the margin of buttons, view videos & view blogs >"
### Description

- Set the margin of both Cards buttons- 'view videos' and 'view blogs'.
- following image you can refer to understanding problem.

### Screenshots

![Screenshot (138)](https://user-images.githubusercontent.com/91419219/182817037-703de0cd-db22-4439-92eb-cbb7c8ec6cb0.png)

### Additional information

_No response_

[2022-08-04 09:59] LOKESWARAN-ARULJOTHI commented on #153
Hi, I am willing to work on this bug. Can you assign it to me?

[2022-08-04 10:08] shivam-sharma7 commented on #153
no, But you can go for new issue.

[2022-08-06 18:26] bishal7679 opened #155 "[FEATURE] Add hover effect in all buttons"
### Description

We should maintain the uniformity throughout the website.
so far we have added hover effect on start learning button and navbar buttons
for that reason we should add hover effect on all the buttons like `contribute`
`Learn more` and all of these.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-07 06:27] AvineshTripathi commented on #138
you can work on this even without being assigned to the issue

[2022-08-07 06:27] AvineshTripathi commented on #152
@Brijrajsinh01 any updates?

[2022-08-07 06:28] AvineshTripathi commented on #123
@chirag0002 any updates?

[2022-08-07 06:28] AvineshTripathi commented on #118
@SaarthakMaini the weight is still not perfect you want to work?

[2022-08-07 06:29] AvineshTripathi commented on #117
do  you want to workon the issue @shivam-sharma7 ?

[2022-08-07 06:34] Brijrajsinh01 commented on #152
Prs for all the changes will be made by tonight or latest by tomorrow.

[2022-08-07 10:25] chirag0002 commented on #123
@AvineshTripathi I think Bishal has done the responsiveness and committed it 6 days ago along with some other issues.
In short responsiveness of the navbar has already been done!!

[2022-08-08 04:32] Shivansh-yadav13 commented on #25
I think we can close this issue since this page is not needed.

[2022-08-10 04:30] #155 closed

[2022-08-11 05:35] bishal7679 commented on #153
@shivam-sharma7 I think it would be better if we give a chance to new contributor for contributing in our project as well

[2022-08-11 05:38] bishal7679 commented on #153
You don't need to be assigned on a particular issue. If you see that any PR has not raised yet against any issue then you can start working on that issue.
Thank You for showing interest💖

[2022-08-11 12:54] shivam-sharma7 commented on #153
i do, but i have made it already.

[2022-08-11 15:34] bishal7679 commented on #153
No worries at all 👍

[2022-08-14 19:00] #153 closed

[2022-08-14 19:01] AvineshTripathi commented on #138
@abhinav2712 are you working on this?

[2022-08-14 19:02] AvineshTripathi commented on #137
@abhinav2712 if the issue still remains in the website you can definitely take it

[2022-08-14 19:02] abhinav2712 commented on #138
Yes, i will make the PR by tomorrow

[2022-08-14 19:05] AvineshTripathi commented on #45
resolved

[2022-08-14 19:05] #45 closed

[2022-08-14 19:07] AvineshTripathi commented on #53
Are things correct now @bishal7679

[2022-08-14 19:09] AvineshTripathi commented on #112
is this issue still there or I can close this issue @SugamKuber

[2022-08-14 19:09] bishal7679 commented on #53
@AvineshTripathi Yes its ok now but it need some margin and padding till now

[2022-08-14 19:12] AvineshTripathi commented on #102
This issue is resolved with recent merges #121

[2022-08-14 19:12] #102 closed

[2022-08-14 19:16] AvineshTripathi commented on #59
hey @Shivansh-yadav13 extremely sorry for not responding, do you want to create a toggle button?

[2022-08-14 19:16] #67 closed

[2022-08-14 19:21] #56 closed

[2022-08-14 19:21] #58 closed

[2022-08-14 19:22] AvineshTripathi commented on #53
do you wanna work?

[2022-08-14 19:23] #25 closed

[2022-08-14 19:23] #73 closed

[2022-08-14 19:24] bishal7679 commented on #53
@AvineshTripathi okay 👍
I will

[2022-08-14 19:26] #69 closed

[2022-08-15 08:28] Shivansh-yadav13 commented on #4
Hey @Arnav-Barman, what's the plan on integrating the roadmap on the website, I would love to help.

[2022-08-15 14:33] error404-sp commented on #112
![Imgur](https://i.imgur.com/bnb7BAV.png)
The button still needs padding and the text box length can be increased.
@AvineshTripathi Can I work on this or any other feature that is not assigned.

[2022-08-17 02:51] KetanParmar07 commented on #78
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 02:51] KetanParmar07 commented on #78
**Now, What should I do?**

[2022-08-17 07:54] KetanParmar07 commented on #117
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 07:55] KetanParmar07 commented on #117
**Now, What should I do?**

[2022-08-17 08:00] KetanParmar07 commented on #59
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 08:00] KetanParmar07 commented on #59
**Now, What should I do?**

[2022-08-17 08:05] KetanParmar07 commented on #151
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 08:05] KetanParmar07 commented on #151
**Now, What should I do?**

[2022-08-17 08:10] KetanParmar07 commented on #138
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 08:10] KetanParmar07 commented on #138
**Now, What should I do?**

[2022-08-17 12:27] shivam-sharma7 commented on #117
check website- https://kubesimplify.github.io/website/, I think this is already solved.

[2022-08-18 02:50] Shivansh-yadav13 commented on #59
@AvineshTripathi sorry for late reply, @KetanParmar07 is interested so ig he can work on this issue.

[2022-08-18 18:08] SugamKuber commented on #112
Hey, I got bit busy, I didnt do anything about it
Give the issue to someone else

[2022-08-18 19:04] bishal7679 commented on #137
Since @abhinav2712 is not active
so I have raised this PR #161
@AvineshTripathi

[2022-08-19 10:51] shivam-sharma7 opened #163 "[Bug] <Footer: Add some margin from bottom >"
### Description

- Footer actually not looking properly on the website. It's feel like hiding in bottom side, So add some margin from bottom side.

![Screenshot (143)](https://user-images.githubusercontent.com/91419219/185602412-5fa45135-5b02-4900-b747-49a1ac73f83c.png)

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-20 07:11] shivam-sharma7 commented on #163
Solved

[2022-08-20 07:11] #163 closed

[2022-08-20 12:12] AvineshTripathi commented on #151
hey @KetanParmar07 I think with latest merges this issue is solved so maybe you can look for other issues if not I'll help you out to find it

[2022-08-20 12:12] AvineshTripathi commented on #151
closing this issue as it is fixed

[2022-08-20 12:12] #151 closed

[2022-08-20 12:12] AvineshTripathi commented on #152
issue is solved

[2022-08-20 12:12] #152 closed

[2022-08-20 12:13] #126 closed

[2022-08-20 12:13] AvineshTripathi commented on #117
issue is solved

[2022-08-20 12:13] #117 closed

[2022-08-20 12:15] AvineshTripathi commented on #123
@chirag0002 oh I didn't know that closing this issue you can look for other issues if not let me know I ll help you find one

[2022-08-20 12:15] #123 closed

[2022-08-20 12:15] AvineshTripathi commented on #112
issue has been solved

[2022-08-20 12:15] #112 closed

[2022-08-20 12:16] #78 closed

[2022-08-20 13:11] Shivansh-yadav13 commented on #59
@KetanParmar07 are you working on this?

[2022-08-20 16:33] shivam-sharma7 commented on #138
@abhinav2712  are you still working on this?

[2022-08-20 16:35] abhinav2712 commented on #138
Sorry, I am not working on this right now because of my tight schedule, you can assign someone else for this issue..

[2022-08-20 17:45] shivam-sharma7 commented on #138
@AvineshTripathi i am working on this issue.

[2022-08-21 03:52] shivam-sharma7 opened #166 "[FEATURE] <Set margin of Criteria, Benefits and FAQs Sections>"
### Description

- The following screenshot have mentioned that what are actually problems. So set the margin for containers title like- criteria, benefits and FAQs.

### Screenshots

![Screenshot (149)](https://user-images.githubusercontent.com/91419219/185774226-dff6d879-ebdd-4a05-bbd3-b1873f10091a.png)

![Screenshot (150)](https://user-images.githubusercontent.com/91419219/185774586-5997ae42-b1

[2022-08-23 09:56] OmAximani0 opened #168 "[OTHER] Rename file CONTRIBUTION.md --> CONTRIBUTING.md"
### What would you like to share?

Doing the change can lead to completion of [Community Standards](https://github.com/kubesimplify/website/community)
![Screenshot from 2022-08-23 15-23-33](https://user-images.githubusercontent.com/75031769/186129470-04ec7238-bec7-49db-8e3e-c1e4520ca749.png)

### Additional information

_No response_

[2022-08-24 07:59] shivam-sharma7 commented on #34
@SuperAayush can we close this issue, If it has been done.

[2022-08-24 08:25] Shivansh-yadav13 commented on #59
@AvineshTripathi can you review #170

[2022-08-24 08:31] SuperAayush commented on #34
Yes sure, done 👍🏻

[2022-08-24 08:31] #34 closed

[2022-08-25 20:03] legendarykamal commented on #52
Hi, Is this available now to work upon?

[2022-08-26 03:24] sanyamjain04 opened #172 "discord invite link is invalid in footer"
### Description

The discord link in the footer is invalid or expired.

I am creating a PR for this.

### Screenshots

![image](https://user-images.githubusercontent.com/107163858/186810878-9be1f742-6aa9-4a2d-b4a9-ba15aa32f551.png)

### Additional information

_No response_

[2022-08-26 10:12] AvineshTripathi commented on #52
this issue is currently on hold as we already have workshop page running with another webpage which is currently in use when we are deloying this website then will redirect

[2022-08-26 10:42] AvineshTripathi opened #174 "[FEATURE] Re-implement HomePage"
### Description

We are to re implement the home page based new design
Points to consider:
- maintain the uniformity of the code like we have for `ambassador` page and `about` page i.e. modular code
- the responsiveness should not be disturbed(don't try to hard code position cause docusaurous handles that to some extend)
- dont change the current design or implementation of navbar and footer

###

[2022-08-26 11:35] sanyamjain04 commented on #174
I want to work on this!

[2022-08-26 16:00] shivam-sharma7 commented on #174
@sanyamjain04 you can work on this issue, don't wait for assign.

[2022-08-27 16:01] Adithya-Sr opened #176 "[Bug] <Kubesimplify mail link redirects to "page not found">"
### Description

when you click  Kubesimplify's  Gmail link in the footer ,it redirects you to this page :

![image](https://user-images.githubusercontent.com/97578285/187038004-a6f4dad6-bf35-4e05-ac1d-7815e06e648f.png)

### Screenshots

![image](https://user-images.githubusercontent.com/97578285/187038102-aff1b90b-7aa9-4ecb-8c89-691ba6a702c1.png)

### Additional information

_No response_

[2022-08-27 16:03] Adithya-Sr commented on #176
The link can be made to open in Gmail . Can You assign me this issue?

[2022-08-30 08:37] #168 closed

[2022-08-30 19:20] #176 closed

[2022-09-04 17:17] #93 closed

[2022-09-10 12:36] nithinrajshekhar opened #189 "[OTHER] Update the Contributor.md in Readme.md"
### What would you like to share?

Update the link for [Contribution.md](https://github.com/kubesimplify/website/blob/main/CONTRIBUTION.md) with [CONTRIBUTING.md](https://github.com/kubesimplify/website/blob/main/CONTRIBUTING.md) in README.md

### Additional information

_No response_

[2022-09-11 08:04] PratikDey commented on #189
Can I work on this issue?

[2022-09-13 08:33] karnatisrinivas opened #192 "[OTHER] We are now hosted the site at "kubesimplify.com", but the repo still shows "kubesimplify.github.io""
### What would you like to share?

<img width="391" alt="Screenshot 2022-09-13 at 2 00 07 PM" src="https://user-images.githubusercontent.com/52213014/189852147-c50f7ef5-d2f3-4306-b05a-a323faf26ff7.png">

We are now hosting the site at "kubesimplify.com", but the repo still shows "kubesimplify.github.io".

### Additional information

_No response_

[2022-09-14 12:31] shivam-sharma7 commented on #192
Can i work upon it?

[2022-09-15 14:50] ryuusama09 commented on #189
hi , can I work on this issue ?

[2022-09-18 14:08] shivam-sharma7 opened #198 "[Bug] <Fix: horizontal line of Learn cloud native text of homepage.>"
### Description

Fix: **horizontal line** Learn cloud native text on Homepage. See the problem in following image.

### Screenshots

![Screenshot (168)](https://user-images.githubusercontent.com/91419219/190910637-7984db4b-b5a9-4af7-98c4-c470883e4c7f.png)

### Additional information

_No response_

[2022-09-19 06:45] Rounak-28 opened #201 "[Bug] card sizes are inconsistent"
### Description

In `https://kubesimplify.com/workshops/` card sizes are inconsistent.

### Screenshots

![kubesimplify](https://user-images.githubusercontent.com/95576871/190962418-8a8be14c-619a-4f58-ac55-26b268bd5797.jpg)

### Additional information

_No response_

[2022-09-19 06:46] Rounak-28 commented on #201
I'm working on this

[2022-09-19 07:26] #198 closed

[2022-09-20 11:47] AvineshTripathi commented on #192
issue fixed closing this

[2022-09-20 11:47] #192 closed

[2022-09-20 11:48] AvineshTripathi commented on #189
you can take issues without getting assigned and raise PR

[2022-09-20 11:48] #174 closed

[2022-09-20 11:48] #172 closed

[2022-09-23 12:23] rakshitgondwal opened #205 "Unable to join the discord server."
### What would you like to share?

Not being able to join the discord server from the link provided on the website.

![Screenshot (297)](https://user-images.githubusercontent.com/98955085/191959241-3a613089-ffa6-4fe6-a8b4-4ac9dbb05a4e.png)

When I try to join the server from my mobile phone-
![WhatsApp Image 2022-09-23 at 6 00 14 PM](https://user-images.githubusercontent.com/98955085/191960594-c8e

[2022-09-23 12:39] rakshitgondwal opened #206 "[FEATURE] The size of the contents of the footer should be increased on mobile."
### Description

While viewing the website from a mobile phone, the size of the contents of the footer appears to be small and should be increased.

### Screenshots

<img src="https://user-images.githubusercontent.com/98955085/191961566-99aa6f7c-ea08-415e-9799-0b89dcb16cc4.jpeg" width="200">

### Additional information

_No response_

[2022-09-25 04:15] #201 closed

[2022-09-26 08:01] AvineshTripathi commented on #206
@rakshitgondwal you want to take this?

[2022-09-26 08:02] AvineshTripathi commented on #189
@PratikDey @ryuusama09 anyone willing to take this?

[2022-09-26 09:22] PratikDey commented on #189
May I?

[2022-09-26 09:46] rakshitgondwal commented on #206
Yes! I would love to work on this @AvineshTripathi

[2022-09-30 04:04] #206 closed

[2022-09-30 04:08] AvineshTripathi commented on #205
@rakshitgondwal is everything solved

[2022-09-30 06:53] rakshitgondwal commented on #205
Nope

[2022-10-05 16:59] codezuma commented on #114
@bhavyastar Is this issue closed i would like to contribute also where can i find the vector you have showed in screenshot,
for now if i choose a wrong route it redirecting to hashnode 404

[2022-10-05 17:55] AvineshTripathi commented on #114
You can customize however that change won't be done in this repo and instead should be done on hashnode cause current 404 is nothing but 404 from hashnode

[2022-10-06 05:51] codezuma commented on #114
@AvineshTripathi I didn't get you, what are you trying to say ?

[2022-10-07 13:02] AvineshTripathi commented on #114
currently our 404 page is redirected to 404 page of hashnode of which source code is not there in this repo so any customizing for 404 should be done outside this repo

[2022-10-07 13:14] codezuma commented on #114
We can change the routing

[2022-10-07 13:16] AvineshTripathi commented on #114
There is some routing conflicts already due to which I believe had to have a similar arrangement so I dont think that is possible unless we solve that complexity

[2022-10-07 13:22] AvineshTripathi commented on #114
@sanyamjain04 ^ can you confirm if this is correct?

[2022-10-07 13:26] sanyamjain04 commented on #114
The 404 page of kubesimplify is 404 page of blogs.kubesimplify.com, so no need to create a 404 page

[2022-10-07 13:50] sanyamjain04 commented on #114
I don't think there is an option to change the default 404 page to our custom 404 page in Hashnode.

and we already have a 404 page on kubesimplify website that appear for 1-2 seconds and then redirects to the hashnode 404 page.
![image](https://user-images.githubusercontent.com/107163858/194569133-35c96f07-cc69-40d1-90fc-01d83fa1893d.png)

[2022-10-07 14:18] sanyamjain04 commented on #114
I just confirm there is no feature available for changing the 404 page in hashnode.

[2022-10-07 19:35] ppborah commented on #205
I faced the similar issue; I would like to work on this!
Please assign :)

[2022-10-11 02:58] codezuma commented on #205
@ppborah are you working on this
issue

[2022-10-11 02:59] codezuma commented on #189
@AvineshTripathi  is it resolved.

[2022-10-11 03:00] codezuma commented on #138
@shivam-sharma7  are you working on this issue.

[2022-10-11 03:00] codezuma commented on #138
@shivam-sharma7  are you working on this issue.

[2022-10-11 04:20] ppborah commented on #205
Hi @codezuma,
I was but please feel free to create a PR :)

[2022-10-11 04:22] ppborah commented on #205
@codezuma, I think the link should direct the user to https://discord.com/invite/26Z384WSPB

[2022-10-11 04:29] codezuma commented on #205
@ppborah but the issue isn't closed so i asked.

[2022-10-11 04:30] ppborah commented on #205
No worries, please go ahead and create a PR :)

[2022-10-11 08:23] rakshitgondwal commented on #205
Actually, my old account was hacked which got my IP address banned from kubesimplify's discord server. Thus, I am unable to join the server with any new account I make even after using VPN.
I guess, if I were to able to get a unban on my old account, I will be able to join then. @AvineshTripathi

[2022-10-11 13:57] shivam-sharma7 commented on #138
This issue is already fixed, So you go for further issue. @codezuma

[2022-10-11 14:35] codezuma commented on #138
Then why is it still open

[2022-10-13 09:27] AvineshTripathi commented on #189
Anyone can work on the issue and raise a PR just make sure you update in the comment that you are working

[2022-10-14 17:08] shivam-sharma7 opened #208 "[Bug] <Fix alignment of homepage images>"
### Description

Homepage images are not at right place. Need to fix it, for better understanding watch following screenshot.

### Screenshots

![Screenshot (178)](https://user-images.githubusercontent.com/91419219/195902844-744a05d4-3652-4808-bb7c-fd008343d76b.png)

### Additional information

_No response_

[2022-10-18 18:38] digambar-t7 opened #210 "[Bug] Cursor style of `Start learning` button"
### Description

Hey there,
I just found out that the cursor when brought over the `Start Learning` button present on the home page, doesn't points at it.
I'd like to go one step ahead and fix it.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-19 07:20] AnirudhBot opened #211 "[Bug] Broken discord link at start-learning button on homepage"
### Description

The Discord link hyperlinked to the start-learning button on the home page of the website is broken.

### Screenshots

<img width="726" alt="1" src="https://user-images.githubusercontent.com/78658727/196623143-2ee3a7f9-c0cd-48c3-88d6-1d1b64cb0ad2.PNG">
<img width="441" alt="2" src="https://user-images.githubusercontent.com/78658727/196623198-e3114c30-2d07-4e1b-8a56-4b9a0036ebd0.PN

[2022-10-19 13:10] shivam-sharma7 commented on #210
you can do that.

[2022-10-19 17:45] SachXD commented on #211
I was going to do a PR but lol saw this

[2022-10-21 09:58] bhavyastar commented on #114
I think we need to close this issue.
CC: @AvineshTripathi

[2022-10-24 14:23] rakshitgondwal opened #214 "[OTHER] Change the color of FaBars/FaTimes."
### What would you like to share?

The color of FaBars and FaTimes elements in the navbar during mobile view should be white for better visibility (or any other color that contrasts best with the background).

# Screenshots-
![](https://user-images.githubusercontent.com/98955085/197548741-cd92aa26-e7f1-4d0e-acb1-312c7ed4f526.png)
![](https://user-images.githubusercontent.com/98955085/197549289-8fa

[2022-10-30 08:18] JagveerGagaan commented on #214
I would like to work on this issue

[2022-10-30 08:36] rakshitgondwal commented on #214
Hey!! Thank you for showing interest but let's wait for this issue to be accepted first. Also, I would like to solve this issue myself. You can try working on some other issue.

[2022-10-30 08:50] JagveerGagaan commented on #2
I would like to work on this guide can I ?

[2022-10-31 05:57] SohamRatnaparkhi commented on #208
Hi @shivam-sharma7, I can solve this issue. Can you assign it to me?

[2022-10-31 06:31] shivam-sharma7 commented on #208
Already opened a PR

On Mon, Oct 31, 2022, 11:27 Soham Ratnaparkhi ***@***.***>
wrote:

[2022-11-05 14:33] #210 closed

[2022-11-05 14:39] #211 closed

[2022-11-11 10:30] #205 closed

[2022-11-11 10:38] rakshitgondwal commented on #214
Hey @AvineshTripathi !! Idk why but while trying to run `npm start`, I am getting this error. Can you help me?

![](https://user-images.githubusercontent.com/98955085/201322906-771418ce-fd30-43bf-9253-be4c75339777.png)

[2022-11-13 05:13] JagveerGagaan commented on #189
I think this issue is resolved so, I would suggest closing it : )

[2022-11-13 05:17] JagveerGagaan commented on #214
I would suggest that you can reinstall Docusaurus and see if this helps

[2022-11-13 11:35] rakshitgondwal commented on #214
I tried that but it is not working.

[2022-11-13 16:56] AvineshTripathi commented on #214
cc @sanyamjain04 ^^^

[2022-11-14 04:25] sanyamjain04 commented on #214
Hello @rakshitgondwal, I just clone the repo and run npm install, It is working fine.
You can try deleting package.lock.json and node modules and try `npm install`? Maybe that work.

[2022-11-14 18:02] rakshitgondwal commented on #214
Hey @sanyamjain04! I just figured out that I'm not able to run the website on linux (facing this issue) but it the website is running for me on windows.

[2022-11-17 06:28] rajpatel17-bot opened #217 "[Bug] Header and footer should be better"
### Description

Hey @saiyam1814  @AvineshTripathi, at footer section from `screen width 753px` to `screen width 1285px` `social media icons, email`, and `copyright` text become very very small, it should be better. And at header section from `754px` the `homeburger icon` color should be `white` and some spaces vertically in between the `navigation links`.
I attached all the screensort below.

##

[2022-11-18 14:25] mayankkuamr001 commented on #208
Can you please be explain about which image you are talking about. IMO all things are correct

[2022-11-18 14:31] shivam-sharma7 commented on #138
Okay. Close this

On Fri, Nov 18, 2022, 19:58 Mayank Kumar Gupta ***@***.***>
wrote:

[2022-11-20 00:29] #208 closed

[2022-11-21 07:28] AvineshTripathi commented on #217
@rajpatel17-bot please have some patience I have already seen your ping and am busy with some stuff. I ll review it and work accordingly till then you can start working on other issues and features

[2022-11-25 05:13] shivam-sharma7 opened #220 "[OTHER] <Fix size of email logo in footer>"
### What would you like to share?

![kubesimlify](https://user-images.githubusercontent.com/91419219/203905799-c2b107be-9161-404c-982a-08c56474ba4e.png)

### Additional information

_No response_

[2022-11-25 05:20] shivam-sharma7 commented on #220
review/ @AvineshTripathi @bhavyastar

[2022-11-27 04:32] ItsRoy69 opened #222 "Header on responsiveness + hover effects"
### Description

We cannot see the banner image as we look into this website from mobile.![image](https://user-images.githubusercontent.com/78967360/204119264-e5e54781-d5c1-4413-9d5b-7183800990b9.png)

Add move features like hover effects on button of navbar, fotter icons, subscribe button on mailing section.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-27 17:35] arunavabasu-03 commented on #222
Can I work on this ?? 😎

[2022-11-27 17:39] arunavabasu-03 commented on #118
Hey @AvineshTripathi , can I tackle this one ??

[2022-11-29 07:46] #214 closed

[2022-11-29 15:12] #220 closed